@page "/fetchdata"
@using BlazorWithMediator.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Forecasts)
            {
                <FetchDataRow Forecast="forecast" OnRequestUpdate="Update" OnRequestDelete="Delete" />
            }
        </tbody>
    </table>
}

@code {

    private List<WeatherForecastDto>? Forecasts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Forecasts = await Http.GetFromJsonAsync<List<WeatherForecastDto>>("WeatherForecast");
    }

    private async Task Delete(int id)
    {
        var response = await Http.DeleteAsync($"WeatherForecast/{id}"); 
        response.EnsureSuccessStatusCode();

        Forecasts!.RemoveAll(x => x.Id == id);
    }

    private async Task Update(UpdateForecastRequest request)
    {
        var response = await Http.PutAsJsonAsync($"WeatherForecast/{request.Id}", request);
        response.EnsureSuccessStatusCode();

        var updatedForecast = await response.Content.ReadFromJsonAsync<WeatherForecastDto>();

        var index = Forecasts!.IndexOf(Forecasts!.First(x => x.Id == request.Id));
        Forecasts[index] = updatedForecast!;
    }
}
